#results {
  background-color:#189AB4;
  color: #D4F1F4;
}
.output {
  text-align: center;
  color: #05445E;
}
body {
  background-color: #75E6DA;
}
h1 {
  text-align: center;
}
.image {
  display: flex;
  justify-content: center;
  height: 300px;
}
img { 
  width: 30%;
}
#userInput {
  text-align: center;
  object-position: center;
}

p {
  text-align: center;
}